<main class="min-h-screen bg-gray-50">
    <section class="mx-100 space-y-10">
        <div>
            <h1 class="text-4xl ">Titulo en grande</h1>
        </div>
        <ul>
            <li>Cocina.........................................................................250</li>
            <li>Transporte.....................................................................300</li>
            <li>Hospedaje......................................................................450</li>            
            <li>Total.........................................................................1000</li>
        </ul>
        <app-paypal-checkout></app-paypal-checkout>
    </section>

</main>